.h1-text{
    text-align: center;
    font-size: 5rem;
    background: linear-gradient(0.25turn, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);   -webkit-background-clip: text;   -webkit-text-fill-color: transparent;
}
